<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../assets/stylesheets/style.css"
		type="text/css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link
		href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap"
		rel="stylesheet">
	<title>My Stream</title>
</head>

<body>
	{{{ body }}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/main.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>