<ul id="dropdown1" class="dropdown-content">
  <li><a href="./index.handlebars">My Watch List</a></li>
  <li class="divider"></li>
  <li><a href="./login.html" class="logout">Log Out</a></li>
</ul>

<ul class="sidenav" id="mobile-demo">
  <li><a href="./members.html">Trending</a></li>
  <li><a href="./search.html">Add to Lists</a></li>
  <li><a href="/index">My Watch List</a></li>
  <li><a href="./login.html" class="logout">Log Out</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">My Stream</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
        class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="./members.html">Trending</a></li>
      <li><a href="./search.html">Add to Lists</a></li>
      <!-- Dropdown Trigger -->
      <li>
        <a class="dropdown-trigger" href="#!"
          data-target="dropdown1">My Account<i
            class="material-icons right">arrow_drop_down</i></a>
      </li>
    </ul>
  </div>
</nav>
<div class="section">
  <div class="row">
    <p>
    <h1>Watch List</h1>
    <ul>
      {{#each title}}
      {{#unless watched}}
      <li>{{title}}
        {{>watchlist/watch-change devoured=false}}
      </li>
      {{/unless}}
      {{/each}}
    </ul>
    </p>

  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="../public/img/parallax_img.png">
  </div>
</div>

<div class="section">
  <div class="row">
    <p>
    <h1>Already Watched</h1>
    <ul>

      {{#each title}}
      {{#if watched}}
      <li> {{title}} </li>
      {{/if}}
      {{/each}}

    </ul>
    </p>

  </div>
</div>