  <div class="section white">
  <div class="row container">
    <p>

    </p>
  </div>
  </div>

 <div class="parallax-container">
    <div class="parallax"><img src="../public/img/parallax_img.png"></div>
  </div>

<div class="section white">
  <div class="row container">
    <p>
lakjdfkldfkdljdlk
    </p>
  </div>
</div>
