form.signup,
form.login {
  margin-top: 50px;
}


.parallax-container {
  height: 300px;
}


body {
height: 725px;
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(50,48,49,1) 85%);
}

.container {
  background-color: #fffffa;
}

nav {
  background-color: #020024;
  color: #fffffa;
}

.brand-logo {
  font-family: 'Bebas Neue', cursive;
}

h2 {
  color: #323031;
}